@{
    ViewBag.Title = "Home Page";
}
<style>
    .doc {
        width: 100%;
        height: 500px;
    }
</style>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    @*<iframe src="http://docs.google.com/gview?url=https://docs.google.com/document/d/1GmvT7y10UfdSeKqQJ-JIwfmsIHJSFLQyfYps6nZO7xU&embedded=true"></iframe>*@
                    <iframe class="doc" src="https://docs.google.com/gview?url=http://dogtoradmin.wewebapp.com/Content/WebTutorial.docx&embedded=true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>