@using System.Text.RegularExpressions;
<section id="about" class="dog-bg2">
    <div class="container">
        <div class="section-heading text-center">
            <h2>About Us</h2>
        </div>
        <!-- /Section-heading -->
    </div>
    <!-- /container -->
    <div class="container block-padding pt-0">
        @if (ViewBag.AboutUs != null)
        {
            var item = ViewBag.AboutUs;
            string NewsContent = Regex.Replace(item.NewsContent, @"<img\s[^>]*>(?:\s*?</img>)?", "", RegexOptions.IgnoreCase);
            <div class="row">
                <div class="col-lg-6">
                    @Html.Raw(NewsContent.Length > 728 ? NewsContent.Substring(0, NewsContent.IndexOf(" ", 728)) + "..." : NewsContent)
                    @*<h3>Caring for your pets</h3>
                    <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                    <p>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus scelerisque laoree.</p>
                    <ul class="custom pl-0">
                        <li>Orci eget, viverra elit liquam erat volut pat phas ellus ac</li>
                        <li>Ipuset phas ellus ac sodales Lorem ipsum dolor Phas ell</li>
                        <li>Aliquam erat volut pat phas ellu</li>
                    </ul>*@
                    <!-- /ul -->
                </div>
                <!-- image -->
                <div class="col-lg-6">
                    @*<img src="/Content/img/about2.jpg" alt="" class="img-fluid border-irregular1" data-aos="zoom-in">*@
                    <img src="@item.Avatar" class="img-fluid border-irregular1" data-aos="zoom-in">
                </div>
            </div>
        <!-- /row -->
        }

    </div>
    <!-- /container -->
    <div class="bg-light-custom block-padding">
        <div class="container">
            <div id="counter" class="row">
                <!-- Counter -->
                <div class="col-xl-3 col-md-6">
                    <div class="counter">
                        <i class="counter-icon fa fa-users"></i>
                        <!-- insert your final value on data-count= -->
                        <div class="counter-value" data-count="1500">0</div>
                        <h3 class="title">Happy Clients</h3>
                    </div>
                    <!-- /counter -->
                </div>
                <!-- /col-lg -->
                <!-- Counter -->
                <div class="col-xl-3 col-md-6">
                    <div class="counter">
                        <i class="counter-icon flaticon-dog-in-front-of-a-man"></i>
                        <!-- insert your final value on data-count= -->
                        <div class="counter-value" data-count="14">0</div>
                        <h3 class="title">Professionals</h3>
                    </div>
                    <!-- /counter -->
                </div>
                <!-- /col-lg -->
                <!-- Counter -->
                <div class="col-xl-3 col-md-6">
                    <div class="counter">
                        <i class="counter-icon flaticon-dog-2"></i>
                        <!-- insert your final value on data-count= -->
                        <div class="counter-value" data-count="900">0</div>
                        <h3 class="title">Adopted Pets</h3>
                    </div>
                    <!-- /counter -->
                </div>
                <!-- /col-lg -->
                <!-- Counter -->
                <div class="col-xl-3 col-md-6">
                    <div class="counter">
                        <i class="counter-icon flaticon-prize-badge-with-paw-print"></i>
                        <!-- insert your final value on data-count= -->
                        <div class="counter-value" data-count="12">0</div>
                        <h3 class="title">Prizes</h3>
                    </div>
                    <!-- /counter -->
                </div>
                <!-- /col-lg -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /block-padding -->


    <div class="partialContents">

    </div>

    <!-- /container -->
</section>