<section id="blurb" class="bg-primary text-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <!-- image  -->
                <img src="/Content/img/blurbimg.png" class="img-fluid blurb-img" alt="" />
            </div>
            <div class="col-xl-4" data-aos="fade-down">
                <h2 class="res-margin">Join our club</h2>
                <p class="featured-text">
                    Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id.
                    In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum.
                </p>
                <!-- button -->
                <a href="@Url.RouteUrl("ContactUs")" class="btn btn-primary">contact us</a>
            </div>
            <!-- /col-lg -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
