<section id="services" class="cat-bg3">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Our Services</h2>
        </div>
        <!-- /Section-heading -->
        <div class="container block-padding pt-0">
            <div class="row">
                <div class="col-xl-6">
                    <h3>The best for your pet!</h3>
                    <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                    <p><strong>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus scelerisque laoree.</strong></p>
                    <!-- ul custom-->
                    <ul class="custom pl-0">
                        <li>Aliquam erat volut pat.</li>
                        <li>Ibu lum orci eget, viverra elit liquam erat volut pat phas ellus ac.</li>
                        <li>Aliquam erat volut pat phas ellu</li>
                    </ul>
                </div>
                <!-- /col-xl-->
                <div class="col-xl-6">
                    <img src="/Content/img/services2.jpg" alt="" data-aos="fade-down" data-aos-duration="1500" class="img-fluid border-irregular1 border-double">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        <!-- services carousel -->
        @*<div class="bg-light-custom block-padding border-irregular1">
                <div id="owl-services" class="container owl-carousel owl-theme">
                    <!-- service 1  -->
                    <div class="col-md-12">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-people-1"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Fun Activities</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 2  -->
                    <div class="col-md-12">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-pet-shelter"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Pet Hotel</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 3  -->
                    <div class="col-md-12">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-animals-2"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Grooming Services</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 4 -->
                    <div class="col-md-12">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-dog-with-first-aid-kit-bag"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Veterinary 24/7</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 5 -->
                    <div class="col-md-12">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-syringe"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Vaccines</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- service 6 -->
                    <div class="col-md-12">
                        <div class="serviceBox">
                            <!-- service icon -->
                            <div class="service-icon">
                                <i class="flaticon-dog-training-3"></i>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <h6>Training</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                </p>
                                <a class="btn btn-primary" href="services-single.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <!--col-md-12  -->
                </div>
                <!-- /owl-services -->
            </div>*@
        <!-- /bg-light-custom -->
    </div>
    <!-- /container -->
</section>